POSTGRES_DB=aaa
POSTGRES_USER=bbb
POSTGRES_PASSWORD=ccc
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://bbb:ccc@localhost:5432/aaa
# postgresql+psycopg://用户名:密码@主机:端口/数据库名